@import "colors";
@import "fonts";
:host {
  display: grid;
  grid-template-columns: 43ch 1fr;
  grid-template-rows: 1fr;
}

app-view {
  width: 60ch;
}

.active {
  background: #EEE;
}

ul {
  padding: 0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  min-height: 2em;
}
li {
  list-style-type: none;
  padding: 2px 4px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#list {
  margin: 0 16px;
}

.uwp {
  font-family: $monospace-font;
  min-width: 33ch;
}
