<section id="list">
  <header>
    <h1>Worlds!</h1>
    <button id="add-button" (click)="add()">Add World</button>
  </header>
  <ng-container *ngIf="worlds">
    <ul>
      <li *ngFor="let world of worlds;trackBy:trackWorld" [routerLink]="['/worlds', world[0]]" routerLinkActive="active">
        <div class="uwp" [innerHTML]="world[1].uwp"></div><button (click)="delete(world[0])">Delete</button>
      </li>
    </ul>
  </ng-container>
</section>

<app-view *ngIf="current && worldMap[current]" [world]="worldMap[current]" [availableActions]="actions" (click)="dispatch($event)"></app-view>

