
// font-family: 'Iceland', cursive;
// font-family: 'Medula One', cursive;
// font-family: 'Share Tech Mono', monospace;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

$header-font: 'Medula One', cursive;
$body-font: 'Josefin Sans', sans-serif;
$monospace-font: 'Share Tech Mono', monospace;

