<header>
  <h1>{{ world.name }}</h1>
  <pre>{{ world.uwp }}</pre>
</header>

<div class="actions">
  <button *ngIf="availableActions.get(actions.RollSize) && world.size === undefined" (click)="click.next(actions.RollSize)">Roll Size</button>
  <button *ngIf="availableActions.get(actions.RollAtmosphere) && world.atmosphere === undefined" (click)="click.next(actions.RollAtmosphere)">Roll Atmosphere</button>
  <button *ngIf="availableActions.get(actions.RollTemperature) && world.temperature === undefined" (click)="click.next(actions.RollTemperature)">Roll Temperature</button>
  <button *ngIf="availableActions.get(actions.RollHydrographics) && world.hydrographics === undefined" (click)="click.next(actions.RollHydrographics)">Roll Hydrographics</button>
  <button *ngIf="availableActions.get(actions.RollPopulation) && world.population === undefined" (click)="click.next(actions.RollPopulation)">Roll Population</button>
  <button *ngIf="availableActions.get(actions.RollGovernment) && world.government === undefined" (click)="click.next(actions.RollGovernment)">Roll Government</button>
  <button *ngIf="availableActions.get(actions.RollLaw) && world.law === undefined" (click)="click.next(actions.RollLaw)">Roll Law Level</button>
  <button *ngIf="availableActions.get(actions.RollCulturalDifferences) && world.culturalDifferences === undefined" (click)="click.next(actions.RollCulturalDifferences)">Roll Cultural Differences</button>
  <button *ngIf="availableActions.get(actions.RollStarport) && world.starport === undefined" (click)="click.next(actions.RollStarport)">Roll Starport</button>
  <button *ngIf="availableActions.get(actions.RollTechLevel) && world.techLevel === undefined" (click)="click.next(actions.RollTechLevel)">Roll Techlevel</button>
  <!-- <ul>
    <button *ngIf="availableActions.get(actions.RollFactionNumber) && world.factionNumber === undefined" (click)="click.next(action)">Roll Number of Factions</button>
    <li *ngFor="let faction of world.factions; index as i">
      {{faction | json}}
      <button (click)="setFactionStrength(i)">Roll Strength</button>
      <button (click)="setFactionGovernment(i)">Roll Government</button>
    </li>
  </ul> -->
</div>
<div class="size" *ngIf="world.size !== undefined">
  <ng-container *ngIf="data.SizeTable[world.size] as size">
    {{ size[1] }}
    <br>
    <ng-container *ngIf="size[2]">Examples: {{ size[2] }}
      <br>
    </ng-container>
    Gravity: {{ size[3] }}
    <br>
    <!-- {{ data.SizeTable[world.size] }} -->
  </ng-container>
  <br>
</div>
<div class="atmosphere" *ngIf="world.atmosphere !== undefined">
  <ng-container *ngIf="data.AtmosphereTable[world.atmosphere] as atmo">
    Atmosphere: {{ atmo[1] }}
    <br>
    <ng-container *ngIf="atmo[2]">Examples: {{ atmo[2] }}
      <br>
    </ng-container>
    Pressure: {{ atmo[3] }}
    <br>
    <ng-container *ngIf="atmo[4]">Survival Gear Required: {{ atmo[4] }}
      <ng-container *ngIf="world.techLevel !== undefined && !checkEnviroTech(world)">** Planet's Tech Level too low for atmosphere</ng-container>
      <br>
    </ng-container>
  </ng-container>
  <br>
</div>
<div class="temperature" *ngIf="world.temperature !== undefined">
  <ng-container *ngIf="data.TemperatureTable[data.Temperature[world.temperature]] as temp">
    Temperature: {{ temp.type }}
    <br> Average: {{ temp.average }}
    <br> {{ temp.description }}
    <br>
    <!-- {{ temp | json }} -->
  </ng-container>
  <br>
</div>
<div class="hydrographics" *ngIf="world.hydrographics !== undefined">
  <ng-container *ngIf="data.HydrographicsTable[world.hydrographics] as hydro">
    Surface water coverage: {{ hydro[1] }}
    <br> Example: {{ hydro[2] }}
    <br>
    <!-- {{ hydro | json }} -->
  </ng-container>
  <br>
</div>
<div class="population" *ngIf="world.population !== undefined">
  <ng-container *ngIf="data.PopulationTable[world.population] as pop">
    Population: {{ pop[2] }}
    <br>
    <ng-container *ngIf="pop[3]">Descriptor: {{ pop[3] }}
      <br>
    </ng-container>
  </ng-container>
  <br>
</div>
<div class="government" *ngIf="world.government !== undefined">
  <ng-container *ngIf="data.GovernmentTable[world.government] as gov">
    Government Type: {{ gov[1] }}
    <br> {{ gov[2] }}
    <br> Examples: {{ gov[3] }}
    <br> Common Contraband: {{ gov[4] }}
    <br>
  </ng-container>
  <br>
</div>
