<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/worlds" routerLinkActive="active">Worlds</a>
</nav>
<router-outlet></router-outlet>
