@import "colors";

nav {
  margin: 8px;
  a {
    text-decoration: none;
    color: $fg-color;
    border-bottom: 1px solid $fg-color;
    &.active {
      border-bottom-color: $border-color;
    }
  }
}
