/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
@import "fonts";

h1, h2, h3, h4 {
  font-family: $header-font;
}

body {
  font-family: $body-font;
}

pre, code {
  font-family: $monospace-font;
}
